<div id="card-container"  id="publicaciones-container">
    <!-- Agregar publicacion -->
    <app-add-publication-bar-component></app-add-publication-bar-component>
    <!-- Publicacion  -->
    @if( publicaciones()){
    <mat-card class="publicacion"
      *ngFor="let item of publicaciones(); let i = index"
    >
      <mat-card-header>

        <div mat-card-avatar class="example-header-image">
          @if (item.publicacion.profileImgSecureUrl) {
            <p-avatar  [image]="item.publicacion.profileImgSecureUrl" 
            size="large" shape="circle"></p-avatar>
          }@else {
            <p-avatar  image="../../../../assets/images/defaultImagePerfil.jpg" 
            size="large" shape="circle"></p-avatar>
          }

        </div>
        <mat-card-title> {{ item.user.name }} </mat-card-title>
        <mat-card-subtitle> {{ publicFormatDate( item.publicacion.publication_date )}} </mat-card-subtitle>
      </mat-card-header>
      <h3 class="ml-3 mb-4 mt-5">
        {{ item.publicacion.text }}
      </h3>

      <img id="pubImg" class="m-2 mt-3" mat-card-image [src]="item.publicacion.secureUrl" alt="PubImg">

 
      <!-- [ngStyle]="{'color': wasLiked(item.publicacion._id) }" -->
      <div class="pubButtonContainer mt-3 mb-2">
          <button 
          [ngStyle]="{'color': isLiked(item.publicacion._id) ? 'red' : 'black'}"
            (click)="like( item.publicacion._id, $event)"  mat-icon-button
            >
              <mat-icon >favorite</mat-icon>
          </button>
          <button id="addComment" mat-icon-button>
              <mat-icon >add_comment</mat-icon>
          </button>
          <button id="share" mat-icon-button>
              <mat-icon>share</mat-icon>
          </button>
      </div>
      <mat-card-content>
          <p *ngIf="totalLikesPub().length > 0 && totalLikesPub()[i].publicacionID == item.publicacion._id">
            <!-- TODO -->
            Likes: {{ totalLikesPub()[i].likes }}
          </p>
        </mat-card-content>
       
        <button mat-fab extended  id="masComentarios" class="mt-5 mb-3">
          <mat-icon>visibility</mat-icon>
          ver comentarios
        </button>
    </mat-card>
  }
</div>