<div class="login">
  <h1>Red Social</h1>
  <!-- <div class="login-btns-container">
    <button >Login</button>
    <button (click)="redirectLogin()">Resgitrate</button>
  </div> -->

  <div class="input-container">
    <input #email type="text" placeholder="email">
    <input #password type="text" placeholder="password">
    <button id="login-btn"> Login </button>
    <a >Forgot Your Password?</a>
    <div>
      <a routerLink="/auth/register">¿No tienes cuenta?</a>
    </div>

    <p> Al logearte aceptas los terminos y condiciones y la politica de privacidad</p>
  </div>


</div>
