#DialogMessage-container{
    margin-top: 15px;
    margin-bottom: 40px;
}


#DialogMessage{
    /* width: 550px; */
    /* border: 1px solid black; */
    border: none;
    outline: none;


    font-size: 20px;
    height: 300px;
    width: 100%;

    resize: none;
    padding: 10px;
}

   #addPub{
      margin-top: 5px;
      padding-left: 30px;

   }
 .addThingPub{
    width: 85%;
    border: 1px solid #ccc;
    border-radius: 15px;

    height: 50px;


    display: flex;
    width: 100%;
 }

 .addThingPub .icons{
    margin-right: 7px;
    font-size: 28px;
    
 }

 .iconsContainer{
    display: flex;
    align-items: center;


 }

#fixing{
   width: 100%;
}

.icons{
   cursor: pointer;
}

.fileInput{

   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
   width: 100%;
   box-sizing: border-box;

}