<div class="container"> 
    <mat-card class="p-2">
            <div id="img-container">
                <h2>Subir imagen de perfil</h2>

                <img 
                [src]="imgSrc" 
                alt="profile-image" id="imgPreview">

            </div>
            <!-- (click)="uploadImage()" -->
            <div id="upload">
                <label for="fileInput" class="custom-file-upload"
                [ngClass]="{'inputWithFile': inputHasAnImage }"
                >
                    <shared-circle-loader *ngIf="loadingImg"></shared-circle-loader>
                    {{ textoLabel }}
                </label>
                <input type="file" id="fileInput" #fileInput (change)="readURL($event);" >
            </div>



            <div id="upload">
                <button mat-raised-button color="primary"
                (click)="openDialog('300ms', '600ms')"
                >Subir imagen</button>
            </div>
    
    </mat-card>
</div>

