.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;   
}
mat-card{
    width: 100%;
}
/* LABEL UPLOAD */
#fileInput{
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 200ms linear;
  }


.inputWithFile{
    border: 1px solid red;
    color: red;
    
}


#img-container{

    
    display: flex;
    align-items: center;
    flex-direction: column;
}

#img-container h2 {
    text-align: center;
}
#imgPreview{
    width: 80%;

}




#upload{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

}

#imgContainer{
    width: 30%
}
#fileInput{
    width: 100%;
}





@media screen and (min-width: 541px) {
    .container {
        width: 460px;
    }
}