  <!-- content -->

  <!-- Anuncios -->
  <div class="border-500 border-solid mt-1">
    <h2>anuncios section</h2>
  </div>


  <!-- <div id="publicaciones" class="col-12">


    <h3>user</h3>

    <pre> {{ user() | json}}</pre>

    <br>
    
  </div>

  </div>

  <mat-divider class="mt-3"></mat-divider> -->
<div class="grid mt-2">
  <!-- 1 -->
  <div class="col-12 sm:col-12 md:col-12 lg:col-4  border-500 border-solid">Friends</div>

  <!-- 2 -->
  <div class="col-12 sm:col-12 md:col-12 lg:col-4 border-500 border-solid">
    <div>
      <div class="mb-3">
          <mat-card id="nuevaPublicacion-foto" class="p-3">
              <p-avatar  image="../../../../assets/images/defaultImagePerfil.jpg" 
               styleClass="mr-2" size="large" shape="circle"></p-avatar>
  
               <input type="text" placeholder="Publica algo..." (click)="openDialog()">
          </mat-card>
      </div>
    <app-publicaciones-page  ></app-publicaciones-page>
    </div>
  </div>
  <!-- 3 -->
  <div class="col-12 sm:col-12 md:col-12 lg:col-4 border-500 border-solid">Friends</div>
</div>



