<div class="login">
  <h1>Red Social</h1>
  <!-- <div class="login-btns-container">
    <button >Login</button>
    <button (click)="redirectLogin()">Resgitrate</button>
  </div> -->

  <form class="input-container" [formGroup]="myRegisterForm"
    (ngSubmit)="register()"
  >
    <input formControlName="name" #usuario type="text" placeholder="Nombre de usuario">
    <input formControlName="email" #email type="email" placeholder="email">

    <input formControlName="password" #password type="password" placeholder="password">

    <button id="register-btn" type="submit"> Registrate </button>
    <div>
      <a routerLink="/auth/login">¿Ya tienes cuenta?</a>
    </div>

    <a >Forgot Your Password?</a>
   

    <p> Al logearte aceptas los terminos y condiciones y la politica de privacidad</p>
  </form>


</div>
