  <!-- content -->

  <!-- Anuncios -->
  <div class="border-500 border-solid mt-1">
    <h2>anuncios section</h2>
  </div>

<div class="grid mt-2">
  <!-- 1 -->
  <div class="col-12 sm:col-12 md:col-12 lg:col-3 xl:col-3 border-500 border-solid">Friends</div>

  <!-- 2 -->
  <div class="col-12 sm:col-12 md:col-12 lg:col-6 xl:col-5 border-500 border-solid">
    <div>
        <app-skeleton-publication></app-skeleton-publication>
        <app-publicaciones-page  ></app-publicaciones-page>
    </div>
  </div>
  <!-- 3 -->
  <div class="col-12 sm:col-12 md:col-12 lg:col-3 xl:col-4 border-500 border-solid">Friends</div>
</div>



